---
permalink: :title.html
layout: default
---

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ "/assets/arethusa.packages.min.js" | relative_url }}"></script>
<script type="text/javascript" src="{{ "/assets/arethusa.min.js" | relative_url }}"></script>
<script type="text/javascript" src="{{ "/assets/arethusa.widget.loader.js" | relative_url }}"></script>
<script type="text/javascript">



var base = "{{ page.pubdir }}/data/{{ page.tbfile }}"

$(document).ready(function() {
  var deps = {
    "css": {  
      "arethusa":"{{ "/assets/css/arethusa.min.css" | relative_url }}",
      "colorpicker":"{{ "/assets/css/colorpicker.css" | relative_url }}",
      "font_awesome":"{{ "/assets/css/font-awesome.min.css" | relative_url }}",
      "foundation":"{{ "/assets/css/foundation-icons.css" | relative_url }}"
    },
    "js":{
      "arethusa":"{{ "/assets/javascripts/arethusa.min.js" | relative_url }}",
      "packages":"{{ "/assets/javascripts/arethusa.packages.min.js" | relative_url }}"
    }
  }

  window.i18npath = "assets/i18n/";
  window.dagred3path = "vendor/dagre-d3.min.js";
  loadArethusaWidget(
    "treebank_container",
    "assets/",
    "assets/tbpub.json",
    { doc: base },
    deps
  ); 
});
</script>
 
<div id='if-part' style='visibility: hidden;'><a href="https://doi.org/{{ site.DOI }}"><img src="https://sandbox.zenodo.org/badge/DOI/{{ site.DOI }}.svg" alt="DOI"></a></div>


<script>
    var node;
    var DOI = "{{ site.DOI }}"
    if(DOI.length > 0) {
        node = document.getElementById('if-part');
        node.style.visibility = 'visible';
        }
</script>

<div class="tbpage">
<h4>{{ page.title }}</h4>
<h4>Work : {{ page.work }}</h4>
<h4>Author : {{ page.author }}</h4>
<h4>Editor : {{ page.editor }}</h4>
<h4>Locus : {{ page.locus  }}</h4>
{{ content }}


<div class="__artsa">
  <div id="treebank_container" style="position:relative;">
  </div>
</div>

</div>




